<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Default POILogger class defined in the assembly
    if it is not set, NPOI.Util.NullLogger will be used
    -->
    <add key="loggername" value="TestCases.Util.DummyPOILogger,NPOI.TestCases"/>
    <add key="java.io.tmpdir" value="..\..\..\TestCases\test-data\"/>
    <add key="escher.data.path" value="..\..\..\TestCases\test-data\ddf\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
  </runtime>
</configuration>
